<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Handsontable - jQuery grid editor. Excel-like grid editing with HTML &amp; JavaScript</title>


  <script data-jsfiddle="common" src="/static/js/jquery.js"></script>
  <script data-jsfiddle="common" src="/static/js/jquery.min.js"></script>
  <script data-jsfiddle="common" src="/static/js/jquery.handsontable.full.js"></script>
  <link data-jsfiddle="common" rel="stylesheet" media="screen" href="/static/css/jquery.handsontable.full.css">
  <link data-jsfiddle="common" rel="stylesheet" media="screen" href="/static/css/samples.css">




</head>
<script>
     var $sheetNum=1;
          var data = [
            ["", "Maserati", "Mazda", "Mercedes", "Mini", "Mitsubishi"],
            ["2009", 0, 2941, 4303, 354, 5814],
            ["2010", 5, 2905, 2867, 412, 5284],
            ["2011", 4, 2517, 4822, 552, 6127],
            ["2012", 2, 2422, 5399, 776, 4151]
          ];
          var emptydata =[
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ],
            [ "", "", "", "", "", "", "", "", "", "" ]
          ];
          var newcolheaders = ["Column 1", "Column 2", "Column 3", "Column 4", "Column 5",
                         "Column 6", "Column 7", "Column 8", "Column 9", "Column 10"];
</script>



<body class="home">
    <div class="rowLayout">
        <div class="pad" data-jsfiddle="example">
        <div id="example"></div>
    </div>
    <input type="button" name="추가" value = "추가" class="test" />

      <div class="codeLayout">
        <script data-jsfiddle="example">

            var $container = $("#example");

            $container.handsontable({
               // colHeaders: newcolheaders,
                colHeaders: newcolheaders,
{#                columns:[#}
{#                    {   type: 'numeric' },#}
{#                    {   type: 'text'   },#}
{#                    {   type: 'checkbox', data:"available"   },#}
{#                    {   type: 'autocomplete' ,#}
{#                        source: ["yellow", "red", "orange", "green", "blue", "gray", "black", "white", "purple", "lime", "olive", "cyan"],#}
{#                        strict: false},#}
{#                    {   type: 'handsontable'   }#}
{#                ],#}
                rowHeaders: true,
                data: emptydata,
                minSpareRows: 1,
//                contextMenu: true,
                contextMenu: {
                    callback: function (key, options) {
                          if (key == 'col_left') {
                              
                          }
                        },
                    items: {
                      "col_left" : {
                          name: '왼쪽 열 삽입',
                          callback : function(){ var check = prompt(); return check; }
                            },
                      "col_right": {name: '오른쪽 열 삽입'},
                      "row_above": {},
                      "row_below": {},
                      "hsep1": "---------",
                      "remove_row": { name: '행을 지웁니다, ok?' },
                      "remove_col": { name: '행을 지웁니다, ok?' },

                      "hsep2": "---------",
                      "about": {name: 'About this menu'}
                    }
                },
                height : 1000

            });
        </script>
      </div>
    </div>

    <script type="text/javascript">
      $('.show-source').click(function (event) {
        event.preventDefault();

        $(this).toggleClass('shown');
        $('pre.javascript').toggle();
        $('.codeLayout').toggleClass('codeLayoutExpanded');


      });
{#      $('.ver').text($('#example').data('handsontable').version);#}
        $(function () {
        if (window.location.hostname === 'warpech.github.com') {
          $('#domainNotice').show();
        }
      });
    </script>

    <script>

    $(document).ready(function(){

        $('.test').click(function () {

            $('body').append('<div id="example'+$sheetNum+'"></div>');

            var $container = $("#example"+$sheetNum);
            $container.handsontable({
                colHeaders: newcolheaders,
                rowHeaders: true,
                data: emptydata,
                minSpareRows: 1,
                contextMenu: true
              });
             $sheetNum +=1;
        });
       });
{#    $('.test2').click(function () {#}
{#        jQuery("#grid").jqGrid('addRow', {#}
{#            rowID: 'Column10',          //중복되지 않게 rowid설정#}
{#            initdata: {},#}
{#            position: "last",           //first, last#}
{#            useDefValues: false,#}
{#            useFormatter: false,#}
{#            addRowParams: {extraparam: {}}#}
{#        });#}
{##}
{#    });#}




    </script>

    <p>testCheck GOGO!!!</p>


</body>
</html>